<!--Introduction Start-->
<section class="introduction">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="introducton__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Our Company Introduction</span>
                        <h2 class="section-title__title">Why you Should Choose Wostin for Waste</h2>
                    </div>
                    <p class="introducton__text">Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu convenient scheduling, account fugiat nulla pariatur.</p>
                    <ul class="list-unstyled introduction__bottom">
                        <li>
                            <div class="introduction__bottom-icon">
                                <img src="assets/images/icon/introduction-bottom-icon-1.png" alt="">
                            </div>
                            <h3 class="introduction__bottom-title">We Deliver</h3>
                            <p class="introduction__bottom-text">Nullam mollis elit quis dus is lacinia not
                                efficitur.</p>
                        </li>
                        <li>
                            <div class="introduction__bottom-icon">
                                <img src="assets/images/icon/introduction-bottom-icon-2.png" alt="">
                            </div>
                            <h3 class="introduction__bottom-title">No Surprises</h3>
                            <p class="introduction__bottom-text">Nullam mollis elit quis dus is lacinia not
                                efficitur.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="introducton__right">
                    <div class="introducton__img-box wow slideInRight" data-wow-delay="100ms"
                        data-wow-duration="2500ms">
                        <div class="introducton__img-1">
                            <img src="assets/images/resources/introducton-img-1.jpg" alt="">
                            <div class="introducton__trusted">
                                <p class="introducton__trusted-text">Trusted by</p>
                                <h3 class="odometer" data-count="4890">00</h3>
                            </div>
                        </div>
                        <div class="introducton__img-2">
                            <img src="assets/images/resources/introducton-img-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--Introduction End-->