<!--Leading Waste Start-->
<section class="leading-waste">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="leading-waste__left">
                    <div class="leading-waste__img-box wow slideInLeft" data-wow-delay="100ms"
                        data-wow-duration="2500ms">
                        <div class="leading-waste__img">
                            <img src="assets/images/resources/leading-waste-img-1.jpg" alt="">
                        </div>
                        <div class="leading-waste__experience">
                            <p><span>18+</span> <br> Years of <br> Experience</p>
                        </div>
                        <div class="leading-waste__img-shape-1 float-bob-x">
                            <img src="assets/images/shapes/leading-waste-img-shape-1.png" alt="">
                        </div>
                        <div class="leading-waste__big-text">
                            <p>Wostin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="leading-waste__right">
                    <div class="leading-waste-dots">
                        <img src="assets/images/shapes/leading-waste-dots.png" alt="">
                    </div>
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Get to Know About Us</span>
                        <h2 class="section-title__title">Leading in Waste disposal
                            Management Services</h2>
                    </div>
                    <p class="leading-waste__text">We’re in this business <span>Since 1987</span> and we provide
                        the best services</p>
                    <ul class="list-unstyled leading-waste__points">
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Lorem Ipsum is not simply random text</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Making this the first true generator on the Internet</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Various versions have evolved over the years</p>
                            </div>
                        </li>
                    </ul>
                    <a href="about.html" class="thm-btn">Discover More</a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--Leading Waste End-->