<app-header></app-header>
<app-page-header pageTitle="Sign in"></app-page-header>
<!--login Start-->
<section class="contact-one contact-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="contact-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Sign In</span>
                        <h2 class="section-title__title">Welcome Back</h2>
                    </div>
                    <p class="contact-one__text">Lorem ipsum dolor sit amet, consectetur notted adipis not icing
                        elit sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="contact-one__right">
                    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="contact-one__form contact-form-validated" novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="contact-one__form-input-box form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email address">
                                    <div *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched" class="text-danger">
                                        Valid email is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="contact-one__form-input-box form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
                                    <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched" class="text-danger">
                                        Password is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="contact-one__btn-box">
                                    <button type="submit" class="thm-btn contact-one__btn" [disabled]="signInForm.invalid">Sign In</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--login  End-->

<app-footer></app-footer>