<!--We Dedicated Start-->
<section class="we-dedicated">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="we-dedicated__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Our Skills & Expertise</span>
                        <h2 class="section-title__title">We are Dedicated to Serve you all Our Time</h2>
                    </div>
                    <p class="we-dedicated__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                    <div class="we-dedicated__progress">
                        <div class="we-dedicated__progress-single">
                            <h4 class="we-dedicated__progress-title">Waste Management</h4>
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="90%">
                                    <div class="count-text">90%</div>
                                </div>
                            </div>
                        </div>
                        <div class="we-dedicated__progress-single">
                            <h4 class="we-dedicated__progress-title">Recycling</h4>
                            <div class="bar marb-0">
                                <div class="bar-inner count-bar" data-percent="46%">
                                    <div class="count-text">46%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="we-dedicated__right">
                    <div class="we-dedicated__img-box wow slideInRight" data-wow-delay="100ms"
                        data-wow-duration="2500ms">
                        <img src="assets/images/resources/we-dedicated-img.jpg" alt="">
                        <div class="we-dedicated__video-link">
                            <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                                <div class="we-dedicated__video-icon">
                                    <span class="fa fa-play"></span>
                                    <i class="ripple"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--We Dedicated End-->